.container {
  position: relative;
  color: var(--current-text-secondary);
  display: flex;
  flex-direction: column;
  border-radius: var(--b-radius);
  overflow: hidden;
  box-shadow: var(--shadow-lg);
  transition: filter 0.4s ease, box-shadow 0.4s ease;
}

.container:hover,
.container:focus {
  filter: brightness(1.05) contrast(0.98);
  box-shadow: var(--shadow-md);
}

.head {
  height: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.body {
  min-height: 50%;
  padding: 0.75rem 1.5rem;
  background-color: var(--current-text-primary);
}

.date {
  font-size: 0.75rem;
}

.title {
  margin: 0.5rem 0;
  max-width: 50ch;
}

.text {
  font-size: 0.75rem;
  max-width: 50ch;
  line-height: 1.5;
  font-weight: lighter;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(
    135deg,
    var(--current-gradient-from),
    var(--current-gradient-to)
  );
  border-radius: var(--b-radius);
  right: 0.5rem;
  top: minmax(10rem, 50%);
  filter: grayscale(80%);
  box-shadow: var(--shadow-lg);
  transition: filter 0.4s ease, box-shadow 0.4s ease;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--shadow-md);
  filter: grayscale(0);
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--current-link);
}
