.container {
  position: relative;
  color: var(--current-text-secondary);
  display: flex;
  flex-direction: column;
  border-radius: var(--b-radius);
  overflow: hidden;
  box-shadow: var(--shadow-lg);
  transition: filter 0.4s ease, box-shadow 0.4s ease;
}

.container:hover,
.container:focus {
  filter: brightness(1.05) contrast(0.98);
  box-shadow: var(--shadow-md);
}

.head {
  height: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.headBig {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 15rem;
}

.body {
  min-height: 50%;
  padding: 0.75rem 1.5rem;
  background-color: var(--current-text-primary);
}
.bodyLong {
  max-width: 60ch;
  margin: 1rem auto;
  background-color: var(--current-text-primary);
}

.date {
  font-size: 0.75rem;
}

.title {
  margin: 0.5rem 0;
  max-width: 50ch;
}
.titleBig {
  margin: 0.5rem 0;
  max-width: 50ch;
  font-size: 2rem;
}

.short {
  font-size: 0.75rem;
  max-width: 50ch;
  line-height: 1.5;
  font-weight: lighter;
}
.text {
  font-size: 0.875rem;
  max-width: 50ch;
  line-height: 1.75;
  font-weight: lighter;
}

.text :matches(h1, h2) {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.text h1 {
  font-size: 1.75rem;
}
.text h2 {
  font-size: 1.5rem;
}
.text h3 {
  font-size: 1.25rem;
}
.text h4 {
  font-size: 1.125rem;
}
.text a {
  border-radius: 4px;
  color: var(--current-accent);
  opacity: 0.8;
  display: inline-block;
  margin: 0.25rem;
}
.text a:hover,
.text a:focus,
.text a:active {
  opacity: 1;
}
.text img {
  margin: 1rem 0;
}
.text pre {
  margin: 2rem 0.5rem;
  padding: 1rem;
  font-size: 0.75rem;
  border-top: 2px solid var(--current-accent);
  border-bottom: 2px solid var(--current-accent);
}

.content {
  font-size: 0.75rem;
  max-width: 50ch;
  line-height: 1.5;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(
    135deg,
    var(--current-gradient-from),
    var(--current-gradient-to)
  );
  border-radius: var(--b-radius);
  right: 0.5rem;
  top: minmax(10rem, 50%);
  filter: grayscale(80%);
  box-shadow: var(--shadow-lg);
  transition: filter 0.4s ease, box-shadow 0.4s ease;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--shadow-md);
  filter: grayscale(0);
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--current-link);
}
